/* Commont settings to start work */
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Roboto";
   font-weight: 400;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

/* Common valueables */
:root{
   --white: #FFFFFF;
   --black: #000000;
   --orange: #EE3D1B;
   --red: #D52047;
}
.text-h2{
   font-family: Roboto;
   font-size: 36px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.common__container{
   max-width: 1110px;
   margin: 0 auto;
}
/* Start coding style for header */
.header{
   background-image: url(../images/Bg.jpg);
   height: 1000px;
   background-size: cover;
}
.header__content{
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.header__content-nav ul {
   display: flex;
   justify-content: center;
   list-style: none;
}
.header__content-nav li a{
   color: var(--white);
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   margin-right: 30px;
}
.header__content-nav li a:hover{
   opacity: 80%;
   transition: .3s;
}
.header__content-nav li:last-child{
   margin-right: 0;
}
.header__content-button button{
   color: var(--white);
   padding: 12px 31px;
   font-size: 14px;
   text-transform: uppercase;
   border: 1px solid var(--white);
   border-radius: 6px;
   background: none;
   cursor: pointer;
}
.header__content-button button:hover{
   background-color: var(--white);
   color: var(--orange);
   transition: .3s all;
}
.main__content{
   text-align: center;
}
.main__content-title{
   color: var(--white);
   padding-top: 183px;
   padding-bottom: 43px;
   font-size: 72px;
   font-weight: 700;
   letter-spacing: 3.6px;
   text-transform: uppercase;
}
.main__content-text{
   color: var(--white);
   font-size: 24px;
   font-weight: 500;
   line-height: 150%;
   margin-bottom: 60px;
   max-width: 500px;
   margin-right: auto;
   margin-left: auto;
}
.main__content-button button{
   padding: 17px 30px;
   color: var(--orange);
   font-size: 14px;
   text-transform: uppercase;
   background-color: var(--white);
   border: none;
   border-radius: 6px;
   cursor: pointer;
}
.main__content-button button:hover{
   color: var(--white);
   background: none;
   border: 1px solid var(--white);
   transition: .3s all;

}
/* Finish coding style for header */

/* Start coding styles for section budget */
.budget__container{
   display: flex;
   justify-content: space-between;
   padding: 95px 0;
}
.budget__content-title{
   max-width: 445px;
   margin-top: 30px;
   margin-bottom: 21px;
}
.budget__content-p{
   font-size: 14px;
   line-height: 140%;
   margin-bottom: 20px;
   max-width: 445px;
}
.budget__content-link{
   color: var(--orange);
   font-size: 14px;
   font-weight: 400;
   line-height: 140%;
   text-decoration: none;
}
/* Finish coding styles for section budget */

/* start coding styles for the section opportunity */
.cap{
   background-color: #FAFAFA;
   padding-top: 63px;
   padding-bottom: 234px;
}
.cap__container-title{
   text-align: center;
   margin-bottom: 63px;
}
.cap__grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   gap: 30px;
}
.cap__item {
   position: relative;
   border-radius: 8px;
   width: 350px;
   height: 250px;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 30px;
 }
 .item__first{
   background-image: url(../images/first__item.jpg);
 }
 .item__second{
   background-image: url(../images/second__item.jpg);
 }
 .item__third{
   background-image: url(../images/third__item.jpg);
 }
 .cap__card {
   position: absolute;
   background-color: #fff;
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   padding: 30px;
   text-align: center;
   width: 290px;
   top: 150px;
 }
.cap__card-title{
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 20px;
}
.cap__card-text{
   font-size: 12px;
   font-weight: 400;
   line-height: 150%; 
   margin-bottom: 12px;
}
.cap__card a{
   color: var(--orange);
   font-size: 12px;
   font-weight: 400;
   line-height: 150%;
   text-decoration: none;
}
.cap__card a:hover{
   opacity: 70%;
}

/* finish coding styles for the section opportunity */