/* Commont settings to start work */
html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   margin: 0;
   font-family: "Roboto";
   font-weight: 400;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}
.open{
   display: flex !important;
}
/* Common valueables */
:root{
   --white: #FFFFFF;
   --black: #000000;
   --orange: #EE3D1B;
   --red: #ED4C5C;
}
.text-h2{
   font-family: Roboto;
   font-size: 36px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}
.common__container{
   max-width: 1110px;
   margin: 0 auto;
}
.burger{
   display: none;
   position: relative;
   z-index: 50;
   align-items: center;
   justify-content: flex-end;
   width: 30px;
   height: 18px;
}
.burger span{
   height: 2px;
   width: 80%;
   transform: scale(1);
   background-color: var(--white);
}
.burger::before, .burger::after{
   content: '';
   position: absolute;
   height: 2px;
   width: 100%;
   background-color: var(--white);
   transition: all .3s ease 0s;
}
.burger::before { top: 0 }
.burger::after{ bottom : 0 }
.burger.active span{transform: scale(0)}

.burger.active::before{
   top: 50%;
   transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after{
   bottom: 50%;
   transform: rotate(45deg) translate(0, 50%);
}
/* Start coding style for header */
.header{
   background-image: url(../images/Bg.jpg);
   height: 1000px;
   background-size: cover;
}
.header__content{
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}
.header__content-nav ul {
   display: flex;
   justify-content: center;
   list-style: none;
}
.header__content-nav li a{
   color: var(--white);
   text-decoration: none;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
   margin-right: 30px;
}
.header__content-nav li a:hover{
   opacity: 80%;
   transition: .3s;
}
.header__content-nav li:last-child{
   margin-right: 0;
}
.header__content-button button{
   color: var(--white);
   padding: 12px 31px;
   font-size: 14px;
   text-transform: uppercase;
   border: 1px solid var(--white);
   border-radius: 6px;
   background: none;
   cursor: pointer;
}
.header__content-button button:hover{
   background-color: var(--white);
   color: var(--orange);
   transition: .3s all;
}
.main__content{
   text-align: center;
}
.main__content-title{
   color: var(--white);
   padding-top: 183px;
   padding-bottom: 43px;
   font-size: 72px;
   font-weight: 700;
   letter-spacing: 3.6px;
   text-transform: uppercase;
}
.main__content-text{
   color: var(--white);
   font-size: 24px;
   font-weight: 500;
   line-height: 150%;
   margin-bottom: 60px;
   max-width: 500px;
   margin-right: auto;
   margin-left: auto;
}
.main__content-button button{
   padding: 17px 30px;
   color: var(--orange);
   font-size: 14px;
   text-transform: uppercase;
   background-color: var(--white);
   border: none;
   border-radius: 6px;
   cursor: pointer;
}
.main__content-button button:hover{
   color: var(--white);
   background: none;
   border: 1px solid var(--white);
   transition: .3s all;

}
/* Finish coding style for header */

/* Start coding styles for section budget */
.budget__container{
   display: flex;
   justify-content: space-between;
   padding: 95px 0;
}
.budget__content-title{
   max-width: 445px;
   margin-top: 30px;
   margin-bottom: 21px;
}
.budget__content-p{
   font-size: 14px;
   line-height: 140%;
   margin-bottom: 20px;
   max-width: 445px;
}
.budget__content-link{
   color: var(--orange);
   font-size: 14px;
   font-weight: 400;
   line-height: 140%;
   text-decoration: none;
}
/* Finish coding styles for section budget */

/* start coding styles for the section opportunity */
.cap{
   background-color: #FAFAFA;
   padding-top: 63px;
   padding-bottom: 234px;
}
.cap__container-title{
   text-align: center;
   margin-bottom: 63px;
}
.cap__grid{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: center;
   gap: 30px;
}
.cap__item {
   position: relative;
   border-radius: 8px;
   width: 350px;
   height: 250px;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 30px;
 }
 .item__first{
   background-image: url(../images/first__item.jpg);
 }
 .item__second{
   background-image: url(../images/second__item.jpg);
 }
 .item__third{
   background-image: url(../images/third__item.jpg);
 }
 .cap__card {
   position: absolute;
   background-color: #fff;
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
   padding: 30px;
   text-align: center;
   width: 290px;
   top: 150px;
 }
.cap__card-title{
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 20px;
}
.cap__card-text{
   font-size: 12px;
   font-weight: 400;
   line-height: 150%; 
   margin-bottom: 12px;
}
.cap__card a{
   color: var(--orange);
   font-size: 12px;
   font-weight: 400;
   line-height: 150%;
   text-decoration: none;
}
.cap__card a:hover{
   opacity: 70%;
}
/* finish coding styles for the section opportunity */

/* start coding styles for the section with icons  */
.icon{
   padding-top: 63px;
   padding-bottom: 108px;
}
.icon__container-title{
   margin-bottom: 52px;
   text-align: center;
}
.icon__content{
   display: flex;
   justify-content: space-between;
   text-align: center;
}
.icon__content-item-title{
   font-size: 18px;
   font-weight: 500;
   padding-top: 19px;
   margin-bottom: 12px;
}
.icon__content-item-text{
   font-size: 12px;
   max-width: 200px;
   margin: 0 auto;
}
/* finish coding styles for the section with icons  */

/* start coding styles for the section man */
.man{
   background-color: var(--red);
   padding: 95px 0;
}
.man__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.man__content-right-title{
   color: var(--white);
   margin-bottom: 24px;
   max-width: 445px;
}
.man__content p{
   font-size: 14px;
   line-height: 140%;
   color: var(--white);
   margin-bottom: 53px;
   max-width: 445px;
}
.man__content-icons img{
   margin-right: 25px;
   cursor: pointer;
}
.man__content-icons img:hover{
   opacity: 80%;
}
.man__content img{
   border-radius: 15px;
}
/* start coding styles for the section man */

/* start coding for the section input */
.input{
   padding-top: 153px;
   padding-bottom: 123px;
}
.input__content{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.input__content-left p{
   font-size: 14px;
   line-height: 140%;
   padding-top: 93px;
   max-width: 380px;
}
.input__content-right input{
   width: 540px;
   height: 60px;
   border-radius: 6px;
   border: 1px solid var(--Gray-1, grey);
   margin-bottom: 24px;
   font-size: 16px;
   padding-left: 31px;
}
.input__content-button button{
   padding: 17px 40px;
   font-size: 14px;
   background-color: var(--red);
   color: var(--white);
   border-radius: 6px;
   border: 1.5px solid var(--red);
   cursor: pointer;
}
.input__content-button button:hover{
   background-color: var(--white);
   color: var(--red);
   transition: .3s;  
}
/* finsh coding for the section input */

/* coding styles for the footer */
.footer{
   background: #FAFAFA;
   padding: 48px 0;
   margin-bottom: 220px;
}
.footer__title{
   font-size: 18px;
   font-weight: 700;
   margin-bottom: 20px;
}
.footer__last{
   font-size: 12px;
   font-weight: 600;
   padding-top: 50px;
}
/* animation */
@keyframes burgerAnimation{
   from {
      opacity: 0;
   }
   to{
      opacity: 1;
   }
}
/* coding styles for the footer */

/* start coding responsive the 1200 px and smaller */
@media screen and (max-width: 1200px){
   .common__container{
      max-width: 1080px;
      padding-right: 10px;
      padding-left: 10px;
   }
   .cap__grid{
      grid-template-columns: repeat(2, 1fr);
      row-gap: 150px;
   }
}
/* finsh coding responsive the 1200 px and smaller */

/* start coding responsive for the 900 px and smaller */
@media screen and (max-width: 900px){
   .header__content-button{
      display: none;
   }
   .burger{
      display: flex;
   }
   .header__content-nav{
      display: none;
      flex-direction: column;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 50;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: var(--orange);
      animation: burgerAnimation .3s;
   }
   .header__content-nav ul{
      flex-direction: column;
      row-gap: 30px;
   }
}
/* finish coding responsive for the 900 px and smaller */

/* start coding responsive for the 780 px and smaller */
@media screen and (max-width: 780px){
   .common__container{
      padding-right: 20px;
      padding-right: 20px;
   }
   .budget__container{
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
   }
   .budget__content{
      padding-bottom: 40px;
      text-align: center;
      margin: 0 auto;
   }
   .cap__grid{
      grid-template-columns: repeat(1, 1fr);
   }
   .cap__item{
      margin: 0 auto;
   }
   .icon__content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 40px;
   }
   .man__content{
      flex-direction: column;
   }
   .man__content img{
      margin-top: 30px;
   }
   .input__content{
      flex-direction: column;
   }
   .input__content-left p{
      padding-top: 20px;
      margin-bottom: 30px;
   }
   .footer__container{
      text-align: center;
   }
}
/* finish coding responsive for the 780 px and smaller */

/* coding responsive for the 570 px and smaller */
@media screen and (max-width: 570px){
   .main__content-title{
      font-size: 50px;
   }
   .main__content-text{
      font-size: 21px;
   }
   .input__content-right input{
      width: 300px;
      height: 60px;
   }
   .budget__picture img{
      width: 330px;
      height: 250px;
   }
   .man__content-picture img{
      width: 350px;
      height: 250px;
   }
}
/* coding responsive for the 570 px and smaller */

/* coding responsive for the 420 px and smaller */
@media screen and (max-width: 420px){
   .main__content-title{
      font-size: 35px;
   }
   .main__content-text{
      font-size: 15px;
   }
   .icon__content{
      grid-template-columns: repeat(1, 1fr);
   }
}
/* coding responsive for the 420 px and smaller */
